.formIn-container{
display: flex;
justify-content: center;
align-items: center;
font-family: "Inter", sans-serif;
}

.main-formIn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    padding: 50px;
    background-color: #f5f7fa;
    margin: 50px 0px;
    border-radius: 15px;
}

.formIn-container input{
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #4D4D4D;
}

h2.sign-in {
    color:#4caf50 ;
    font-weight: bold;
    font-size: 30px;
}

.forget-pass{
    color: #4D4D4D;
    cursor: pointer;
}

.forgot-combine{
    gap: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.login-btn button{
    background-color: #4caf50;
    color: white;
    border-radius: 10px;
    padding: 8px 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

:hover.login-btn button{
background-color:#0a310c ;
}

@media screen and (min-width: 300px) and (max-width: 420px) {
    .formIn-container input{
        padding: 10px;
        width: 190px;
        border-radius: 10px;
        border: none;
        outline: none;
        color: #4D4D4D;
    }

    .forget-pass{
        font-size: 12px;
    }
}